[project]
name = "programmazione-python-base"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "jupyter>=1.1.1",
    "jupyterlab-rise>=0.43.1",
    "rise>=5.7.1",
]
